{% extends 'base.html' %}

{% load static %}

{% block title %}Страница не найдена: 404{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
  <div class="custom-center-block">
    <p class="custom-text-block">Страница {{ request.path }} не найдена: ошибка 404</p>
    <div class="custom-button-block">
      <a class="button button_style_blue" href="{% url 'index' %}">Перейти на главную</a>
    </div>
  </div>
{% endblock %}